.inactive-stuff{
	background-color: gray !important;
}
.sensor{
	width:250px; 
	height: 250px;
	margin:5px;
	background-color: green;
}
.action{
	width:250px; 
	height: 250px;
	margin:5px;
	background-color: red;
}
.device{
	margin:10px 0 10px 0;
}
